@mixin backgroundSet {
    background-position: center;
    background-size: cover;
}

.stadiumWrap {
    width: 100%;
    padding: 5rem 1rem;

    .contentsWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: #fff;
        margin-top: 2rem;

        .stadium {
            width: 100%;
            height: 150px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;

            .infoBox {
                width: 60%;
                height: 100%;
                margin-left: auto;
                backdrop-filter: blur(5px);
                background-color: rgba(0,0,0,0.2);
                mask-image: linear-gradient(to right, transparent 0%, black 30%);
                padding: .5rem; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                .stadiumInfo{
                    text-align: right;
                    h3{
                        font-size: 20px;
                    }
                    h4{
                        font-weight: 500;
                    }
                }
                p{
                    font-weight: 600;
                }
            }
        }

        .lg,
        .doosan {
            background-image: url(../../../public/lg-doosan-stadium.webp);
            @include backgroundSet();
        }

        .samsung {
            background-image: url(../../../public/samsung-stadium.webp);
            @include backgroundSet();
        }

        .kia {
            background-image: url(../../../public/kia-stadium.webp);
            @include backgroundSet();
        }

        .kt {
            background-image: url(../../../public/kt-stadium.webp);
            @include backgroundSet();
        }

        .ssg {
            background-image: url(../../../public/ssg-stadium.webp);
            @include backgroundSet();
        }

        .lotte {
            background-image: url(../../../public/lotte-stadium.webp);
            @include backgroundSet();
        }

        .kiwoom {
            background-image: url(../../../public/kia-stadium.webp);
            @include backgroundSet();
        }

        .hanhwa {
            background-image: url(../../../public/hanhwa-stadium.webp);
            @include backgroundSet();
        }

        .nc {
            background-image: url(../../../public/nc-stadium.webp);
            @include backgroundSet();
        }
    }

}